:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bronze: #cd7f32;
  --silver: #c0c0c0;
  --gold: #ffd700;
  --platinum: #e5e4e2;
  --diamond: #e0ffff;
  --maroon: #800000;
  --black: #111;
  --white: #f8f8f8;
  --emerald: #50c878;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "Trajan Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Trajan Pro Regular"),
    url("/fonts/TrajanPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Trajan Pro Bold";
  font-style: normal;
  font-weight: bold;
  src: local("Trajan Pro Bold"),
    url("/fonts/TrajanPro-Bold.woff") format("woff");
}
@font-face {
  font-family: "Cinzel-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Cinzel-Regular"), url("/fonts/Cinzel-Regular.woff") format("woff");
}

@font-face {
  font-family: "Cinzel-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Cinzel-Bold"), url("/fonts/Cinzel-Bold.woff") format("woff");
}

@font-face {
  font-family: "Cinzel-Black";
  font-style: normal;
  font-weight: normal;
  src: local("Cinzel-Black"), url("/fonts/Cinzel-Black.woff") format("woff");
}

@font-face {
  font-family: "Cinzel Decorative-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Cinzel Decorative-Regular"),
    url("fonts/CinzelDecorative-Regular.woff") format("woff");
}

@font-face {
  font-family: "Cinzel Decorative-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Cinzel Decorative-Bold"),
    url("fonts/CinzelDecorative-Bold.woff") format("woff");
}

@font-face {
  font-family: "Cinzel Decorative-Black";
  font-style: normal;
  font-weight: normal;
  src: local("Cinzel Decorative-Black"),
    url("fonts/CinzelDecorative-Black.woff") format("woff");
}
/*Also using  Garamond font*/
html {
  scroll-behavior: smooth;
}
* {
  cursor: none;
}
body {
  background-color: var(--black);
  color: var(--white);
  font-family: "trajan pro regular", serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  user-select: none;
}
.cursor {
  position: absolute;
  z-index: 999;
  background-color: rgba(255, 255, 255, .7);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0px 0px 30px 15px var(--diamond),
              0px 0px 30px -15px var(--diamond);
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.4);
    opacity: 0.2;
  }
  100% {
    transform: scale(1);
    opacity: 0.4;
  }
}

.cursor:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 50%;
  opacity: 0.2;
  mix-blend-mode: screen;
  transform: translate(-50%, -50%);
}
.trail-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(-1%, -1%);
  pointer-events: none;
  z-index: 9998; /* Just below the main cursor */
}

.trail {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  pointer-events: none;
  mix-blend-mode: screen;
  transition: opacity 0.5s ease-out; /* Smooth fading out */
  box-shadow: 0 0 5px 7px rgba(255, 255, 255, 0.2),
    0 0 5px -7px rgba(255, 255, 255, 0.2); /* Adds a blur effect */
  opacity: .4;
}
.ring {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.8);
  pointer-events: none;
  mix-blend-mode: screen;
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
  transform: scale(1);
  transform-origin: center; /* Ensure expansion happens from the center */
  opacity: 1;
}